{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title%}Flasky {% endblock %}
{% block head %}
{{ super() }}


{% endblock %}

{% block content%}
{% for message in  get_flashed_messages() %}
<div class="alert alert-warning">
   <button class="close" type="button" data-dismiss="alert">&times;</button>
   {{ message }}   
</div>
{% endfor %}
<div class="container-fluid">
   <h1 class="page-header display-1"> Olá, {% if name %}{{name}}{% else %}Desconhecido{% endif %}!</h1>
</div>



<form method="POST">
   {{ wtf.quick_form(form)}}

</form>

{% endblock %}