{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Prazer em conhecê-lo!</p>
    {% else %}
    <p>Feliz em vê-lo novamente!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}

<div class="container">
    <h2>Relação de usuários cadastrados</h2>

    <table>
        <tr>
            <th>Nome do usuário</th>
            <th>Função</th>
        </tr>
        <tr>
            {% for user in users %}
            <td>
                {{user.username}}
            </td>
            <td>
                {{user.role.name }}
            </td>
            {%endfor%}
        </tr>
    </table>
</div>
{% endblock %}